.card-main{
    position: fixed;
    width: 25%;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    border: #616161 1px solid;
    border-radius: 1rem;
    font-family: 'Klee One', cursive;
    color: #fde4c3;
    z-index: 2;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    
}

.title{
    max-width: 6rem;
    text-align: right;
}

.profile-image{
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
    width: 100%;
    height: auto;

}

.card-info{
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-size: 1rem;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
}

.icons{
    transform: scale(0.8);
    font-weight: bold;
}

.social-icons{
    border: #6e6a6a 1px solid;
    color: #6e6a6a;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.8rem 0.8rem 0.6rem 0.8rem;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.social-icons:hover{
    color: #ffe6bc;
    border: #ffe6bc 1px solid;
}

.contacts-button{
    margin: 2rem 0 0 0;
    padding: 1rem;
    width: 100%;
    background-color: #b38b59;
    font-weight: bold;
border: #b38b59 1px solid;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    color: black;
}

.contacts-button:hover{
    color: #b38b59;
    border: #b38b59 1px solid;
    background-color: transparent;
}

@media (max-width: 1000px) {
    .card-main{
        position:relative;
        width: 100vw;
        height: auto;
        transform: none;
    }
}

@media (max-width: 600px) {
    .card-main{
        width: 100vw;
    }
}